#delete-budget-modal {
    margin: auto;

    width: 90%;
    max-width: 500px;
    height: 40vh;
    border: none;
    border-radius: 8px;
    padding: 1.5rem;

    &::backdrop {
        background-color: #00000080;
        backdrop-filter: blur(2px);
    }
}

#delete-budget-modal[open] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 50px;
}

#delete-budget-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#delete-budget-modal-btn {
    border: none;
    background-color: var(--heading-color);
    border-radius: var(--large-radius);
    color: var(--background-color);
    padding: 10px 15px;
    transition: transform var(--normal-transition), background-color var(--normal-transition);
}

#delete-budget-modal-btn:hover {
    background-color: rgb(48, 48, 48);
    transform: scale(1.02) translateY(-2px);
    cursor: pointer;
}

#delete-budget-modal-btn:active {
    background-color: rgb(0, 0, 0);
    transform: translateY(2px);
}

#close-budget-modal-btn {
    border: none;
    background-color: white;
    border-radius: var(--large-radius);
    color: var(--heading-color);
    padding: 10px 15px;
    transition: transform var(--normal-transition), background-color var(--normal-transition);
}

#close-budget-modal-btn:hover {
    background-color: var(--background-color);
    transform: scale(1.02) translateY(-2px);
    cursor: pointer;
}

#close-budget-modal-btn:active {
    background-color: rgb(167, 167, 167);
    transform: translateY(2px);
}